.layout {
    display: flex;
    min-height: 100vh;
}

.mainContent {
    margin-left: 200px;
    width: calc(100% - 200px);
    display: flex;
    flex-direction: column;
}

.pageContent {
    flex: 1;
    padding: 2rem;
    /* Topbar balandligini hisobga olib margin-top berilmaydi,
       chunki Topbar position: sticky */
}
